{% extends "base.html" %}
{% block title %}Add Data{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Add Item</h1>
    <form id="add-data-form" method="POST" enctype="multipart/form-data" action="{{ url_for('add_data') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.article_number.label(class="form-control-label") }}
            {{ form.article_number(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.size_in_inches.label(class="form-control-label") }}
            {{ form.size_in_inches(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.weight.label(class="form-control-label") }}
            {{ form.weight(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.photo.label(class="form-control-label") }}
            {{ form.photo(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
<!-- Modal for Article Number Exists -->
<div class="modal fade" id="articleNumberExistsModal" tabindex="-1" role="dialog" aria-labelledby="articleNumberExistsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="articleNumberExistsModalLabel">Article Number Exists</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The article number you entered already exists. Please check the article number.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
document.getElementById('add-data-form').addEventListener('submit', function(event) {
    event.preventDefault();
    var articleNumber = document.querySelector('input[name="article_number"]').value;
    var form = event.target;
    fetch('{{ url_for("check_article_number") }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ form.csrf_token._value() }}'
        },
        body: JSON.stringify({ article_number: articleNumber })
    }).then(response => response.json()).then(data => {
        if (data.exists) {
            $('#articleNumberExistsModal').modal('show');
        } else {
            form.submit();  // Correctly submit the form
        }
    }).catch(error => {
        console.error('Error:', error);
    });
});
</script>
{% endblock %}
